process.pod.nodeSelector = 'usedby=tristanaretz'
k8s {
   scheduler {
      name = 'workflow-scheduler'
      runAsUser = 0
   }
   pod.nodeSelector = 'usedby=tristanaretz'
   scheduler.nodeSelector = 'usedby=tristanaretz'   
   debug {
      yaml = true
   }
   fetchNodeName = true
   namespace = 'tristanaretz'
   context = 'tristanaretz'
   runAsUser = 0
}

params {
   reads = '/data/genomedata/ApisMelliefera/SRR21138545.fastq.gz'
   outdir = '/data/results'
   threads = 1
}

plugins {
   id 'nf-cws@1.0.2-SNAPSHOT'
}

cws {
   strategy = 'rank_max-fair'
}

process {
   executor = 'k8s'
   scratch = true
   withLabel:fastp {
      container = 'biocontainers/fastp:v0.20.1_cv1'
   }
}
