process.pod.nodeSelector = 'usedby=tristanaretz'
k8s {
   scheduler {
      name = 'workflow-scheduler7'
      runAsUser = 0
      myconfig = [
         taskA: "hu-worker-c27",
         taskB: "hu-worker-c27"
      ]
   }
   pod.nodeSelector = 'usedby=tristanaretz'
   scheduler.nodeSelector = 'usedby=tristanaretz'   
   debug {
      yaml = true
   }
   fetchNodeName = true
   namespace = 'tristanaretz'
   context = 'tristanaretz'
   runAsUser = 0
}

params {
//   reads_1 = '/data/genomedata/ApisMelliefera/SRR21138545_1.fastq'
//   reads_2 = '/data/genomedata/ApisMelliefera/SRR21138545_2.fastq'
   reads = '/data/genomedata/ApisMelliefera/SRR13175150.fastq.gz'
   outdir = '/data/results/ApisMellifera'
   threads = 1
   split = 4
   suffix_length = 3
}

plugins {
   id 'nf-cws'
}

cws {
   strategy = 'rank_max-fair'
   costFunction = 'MinSize'
}


process {
   executor = 'k8s'
   scratch = true
   withLabel:fastp {
      container = 'biocontainers/fastp:v0.20.1_cv1'
   }
}
